@charset "UTF-8";
@import "fonts";
@import "colors";
@import "funs";
@media screen and (max-width: 1150px) and (min-width: 910px){
    .bye{
        display: none;
    }
    
}
@media screen and (max-width: 909px) and (min-width: 90px){
   
}
@keyframes but-anima {
    from{transform: translate(80vw,0);opacity:10%;}
    to{transform: translate(0,0);opacity: 100%;}
    
}
html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: auto;
    
   
}
body::-webkit-scrollbar{
    background-color: $color2;

}
body::-webkit-scrollbar-thumb{
    background-color: $color1;
    border-radius: 16px;
    margin: .5px;
  
}
body::-webkit-scrollbar-button{
    background-color: rgba(0, 0, 0, 0.548);
}
*{
    padding: 0;
    margin:0;
    
    
}
h1{
    font-family: $font-titulo;
    text-align: center;
}
p{
    font-family: $font-normal;
}
header{
@include cont_flex(100vw,11px,space-between);
@include box-sombra;
position: fixed;
background-color: white;
top:0px;
z-index: 1;
    font: {
        family:$font-normal;
        weight:bold;
        size: 1.2em;
    };

   
    section{
        @include cont_flex($vertical:center,$number:false);
        padding: 8px;
        nav{
            @include cont_flex($vertical:center,$number:false);
        
        }
        a{
            padding: 32px 8px;
            text-decoration: none;
            color: $color_bl;
            border-radius: 8px;
        }
        a:hover{
            border-bottom: 2px solid rgba(0, 0, 0, 0.671);
            background-color: rgba(252, 252, 252, 0.986);
          
        }
        a:focus{
            color: $color5;
            border-bottom: 2px solid $color1;
        }
        #consultar{
            background-color: $color1;
            color: $color_wt;
            border-radius: 8px;
            padding: 16px 8px;
            margin:0px 16px;
        }
        #consultar:active{
            @include box-sombra($dentro:true);
            color:#afafaf;
        }
        img{
            height: 80%;
       }
       p{
        font: {
            weight:normal;
            size: 2em;
        }
        color: rgba(0, 0, 0, 0.432);
       }
     
    }

}

#main{
    @include boxs(100vw,100vh,$color4,black);
    position: relative;
    z-index: 0;
    top:64px;
    transition: background-image 1s;
    text-indent: 30px;
    background: {
        image:url('../img/m1.jpg');
        size:cover;
        position:center left;
        attachment: fixed;

    }
    #caixas{
        @include cont_flex(100vw,$height:40px,$horizontal:center);
        position: absolute;
        bottom: -30%;
        padding: 0 8px;
        z-index: 1;
     
        .bens{
            @include boxs(400px,400px,$color1,rgb(255, 255, 255));
            opacity:90%;
            transition: opacity 1s;
            font-family: $font-normal;
            text-shadow: 1px 1px 1px rgb(5, 5, 5);
            font-size: 1.7em;
            padding: 16px;
            p{
                text-align: center;
            }
           
            img{
                width: 56px;
               
            }
            h1{
                font-family: $font-titulo;
            }
        }
        .bens:hover{
            opacity: 100%;
            @include box-sombra;
        }
        #ben3{background-color: $color1;}
        #ben2{background-color:#00550e;}
        #ben1{background-color: #01420c;}

    }
    #container{
        display: grid;
        font-size: xx-large;
        position: absolute;
        top:15% ;
        padding-left: 56px;
        #text-main-1{
            display: inline;
        }
        //text-main
        section[id|="text-main"]{   
            
            display: none; 
            width: 60%;
            color: $color2;
            text-shadow: 1px 1px 1px rgb(0, 0, 0);
            h1{
                font-size: 1.9em;;
            }
            p{
                color:$color_wt;
                font-weight: bold;
                font-size: larger;
            
            }
        }
        #nav-main{
            @include cont_flex(100vw,300px,$vertical:start,$number:false);
            margin-top: 16px;
            
          
            button{
                @include boxs(72px,72px,white,black);
                border-radius: 15px;
                animation-name: but-anima;
                animation-duration: 4s;
                margin:0 8px;
                background: {
                    repeat:no-repeat;
                    position: center center;
                    size:64px 64px;

                };
            }
            #mm1{
                background-image:url('../img/icon/f0.png');
            }
            }
            #mm2{
                background-image:url('../img/icon/f1.png');
            }
            #mm3{
                background-image:url('../img/icon/f2.png');
            }
            #mm4{
                background-image:url('../img/icon/f3.png');
            }
    }


}
#servicos {
    height: 100vh;
    margin-top: 400px;
    font-size: x-large;
    #cont-serv{
        margin: 0 56px;
        @include cont_flex(auto,$horizontal: center,$number: false,$wrap:wrap);
        aside{
            transition: box-shadow .5s;
            display: grid;
            justify-content: center;
            margin: 32px;
            width: 200px;
            height: 200px;
            border-radius: 0 16px;
            position: relative;

            img{
                justify-self: center;
            }
            p{
                transform: translateY(64%);
           
                background-color: $color2;
                text-align: center;
                vertical-align:bottom ;
                align-self: center;
                padding: 8px;
                border: 1px solid green;
            }
           
    }

    }
    aside:hover{
        @include box-sombra(rgba(0, 0, 0, 0.507));
    }
    


}
#sobre_nos{
    display: flex;
    background-color: rgb(240, 240, 240);
    line-height: 2em;
    text-indent: 20px;
    padding: 56px;
    h1{
        font-size: xx-large;
        text-align: left;
        padding: 8px;
    }
    img{
        width: 50%;
    }
    #text_about{
        padding: 8px;
    }

}
#instituto{
    display: flex;
    height: 85vh;
    #photos{
        width: 50%;
        position: relative;
        
    }
    button{
        position: absolute;
        padding: 16px;
        background-color: rgba(0, 0, 0, 0.534);
        font-weight: bolder;
        font-size: larger;
        top: 50%;
        border-radius: 50%;
    }
    button:active{
        background-color: $color1;
        color: white;
    }
    #frente{
        right: 0;
    }
    img{
        width: 0%;
        height: 100%;
        position: absolute;
        top:0;
        transition: width 2s, opacity 1s;

    }
    #first_img{
        width: 100%;
       
    }
    #localidade{
        width: 50vw;
       margin-left: 16px;
        height: 100%;
    }
    h1{
        text-align: left;
        font-size: xx-large;
        margin-bottom: 16px;
        color: $color_bl;
    }


}
#noticia{
    background-image: url('../img/m6.jpg');
    background-size:cover;
    background-position:100% 30%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 70vh;
    font-size: large;
    ;
    position: relative;

    
    #color_noticia{
        position: absolute;
        top: 0;
        width: 100%;
        height: inherit;
        background-color: rgba(127, 255, 212, 0.649);
        text-shadow: 1px 1px 1px $color_wt;
        time{
            color: $color5;
            font-size: smaller;
        }
        #scroll_noticias{
            
            display: flex;
            justify-content: center;
            height: inherit;
           
            .artigo:hover{
                @include box-sombra;

            }
            h1{
                text-align: left;
            }

            .artigo{
                
                background-color: #f0f0f0;
                padding: 8px;
                border-radius: 16px;
                .img_noticia{
                    margin: 16px;
                    border-radius: 4px;
                }
                .texto_enfase{
                    
                }
            }
            #n_recente::-webkit-scrollbar{
                background-color:transparent;
            }
            #n_recente::-webkit-scrollbar-thumb{
                background-color: $color4;
                border-radius: 16px;
                margin: 5px;
            }

            #n_recente{
                padding-top: 24px;
                display: grid;
                width: 50vw;
                justify-content: flex-start;
                align-content: start-end ;
                overflow: auto;
                background-image: linear-gradient(to bottom,#ffffff00,rgb(255, 255, 255));

                #ver_mais_noticias{
                    text-align: end;
                    color: $color1;
                    font-weight: bolder;
                    font-size: large;

                }
                .artigo{
                    display: flex;
                    justify-content: center;
                    width: 500px;
                    margin: 16px 0;
                    .img_noticia{
                        background-color: #afafaf;
                        width: 500px;
                        height: 100px;
                        background-image: url('../img/arquvo2.png');
                        background-repeat: no-repeat;
                    }
               
                }
            }
            #n_enfase{
                padding: 24px;
                width: 50vw;
                height: inherit;
                h1{
                    font-size: x-large;
                    
                }
                .artigo{
                    display: grid;
                    justify-content: center;
                    align-content: flex-start;
                    width: 75%;
                    height: auto;
                    margin: 16px;
                    padding: 2px;
                    border-radius: 1px;
                    .img_noticia{
                        justify-self: center;
                        background-color: #afafaf;
                        width: 100%;
                        height: 250px;
                        background-image: url('../img/m7.jpg');
                        background-size: cover;
                        
                    }
                    .texto_enfase{
                        justify-self: center;
                        width: 90%;
                        align-self: center;
                        padding: 16px;
                        
                    }
                }
            }
        }

    }
    
}
footer{
    height: 50vh;
    background-color: $color5;
    display: grid;
    color: white;
    padding: 0 56px;
    #bottom_footer{
        background-color: $color4;
        display:flex;
        align-self: flex-end;
        justify-content: space-between;
        padding: 16px;
        border-radius: 16px;
        border: 1px solid rgb(0, 0, 0);
      
    }

    a{
        color: #ffffff;
        font-size: normal;
        font-family: $font-normal;
        margin: 8px;
    }

}