@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chakra+Petch&family=Kdam+Thmor+Pro&family=Source+Serif+Pro&display=swap");
@-webkit-keyframes but-anima {
  from {
    transform: translate(80vw, 0);
    opacity: 10%;
  }
  to {
    transform: translate(0, 0);
    opacity: 100%;
  }
}
@keyframes but-anima {
  from {
    transform: translate(80vw, 0);
    opacity: 10%;
  }
  to {
    transform: translate(0, 0);
    opacity: 100%;
  }
}
html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: auto;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 16px;
  margin: 0.5px;
}

body::-webkit-scrollbar-button {
  background-color: rgba(0, 0, 0, 0.548);
}

* {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.mostra {
  display: none;
}

.nav-mob {
  display: none;
}

h1 {
  font-family: "Abril Fatface", cursive;
  text-align: center;
  font-weight: 100;
}

p {
  font-family: "Chakra Petch", sans-serif;
}

a:-webkit-any-link:focus-visible {
  outline: none;
}

header {
  height: 11vh;
  flex-wrap: nowrap;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  box-shadow: -1px 1px 11px 0px rgba(72, 71, 71, 0.4784313725);
  position: fixed;
  background-color: white;
  top: 0px;
  z-index: 1;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}
header section {
  height: inherit;
  flex-wrap: nowrap;
  display: flex;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
header section nav {
  height: inherit;
  flex-wrap: nowrap;
  display: flex;
  width: auto;
  justify-content: flex-start;
  align-items: center;
}
header section nav a:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.671);
  background-color: rgba(252, 252, 252, 0.986);
}
header section nav a:focus {
  color: #257332;
  border-bottom: 2px solid #007c15;
}
header section a {
  padding: 32px 8px;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  text-align: center;
}
header section #consultar {
  background-color: #007c15;
  color: white;
  border-radius: 8px;
  padding: 16px 8px;
  margin: 0px 16px;
}
header section #consultar:active {
  box-shadow: inset 3px 5px 7px 0px rgba(0, 0, 0, 0.74);
  color: #afafaf;
}
header section img {
  width: 20vw;
  min-width: 170px;
  margin-top: 8px;
}
header section p {
  font-weight: normal;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.432);
}

main {
  height: auto;
}
main #main {
  width: 100vw;
  height: 110vh;
  background-color: #47734E;
  color: black;
  display: grid;
  position: relative;
  align-items: center;
  z-index: 0;
  transition: background-image 1s;
  text-indent: 30px;
  background-image: url("../img/m1.jpg");
  background-size: cover;
  background-position: center left;
  background-attachment: fixed;
}
main #main #container {
  padding-left: 56px;
  display: grid;
  font-size: xx-large;
}
main #main #container #text-main-1 {
  display: inline;
}
main #main #container section[id|=text-main] {
  display: none;
  width: 900px;
  color: #96F2A6;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
main #main #container section[id|=text-main] h1 {
  font-size: 1.9em;
}
main #main #container section[id|=text-main] p {
  color: white;
  font-size: larger;
}
main #main #container #nav-main {
  height: auto;
  flex-wrap: nowrap;
  display: flex;
  width: 100vw;
  justify-content: flex-start;
  align-items: start;
  margin-top: 16px;
}
main #main #container #nav-main button {
  width: 72px;
  height: 72px;
  background-color: white;
  color: black;
  border-radius: 15px;
  -webkit-animation-name: but-anima;
          animation-name: but-anima;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  margin: 0 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 64px 64px;
}
main #main #container #nav-main #mm1 {
  background-image: url("../img/icon/f0.png");
}
main #main #container #mm2 {
  background-image: url("../img/icon/f1.png");
}
main #main #container #mm3 {
  background-image: url("../img/icon/f2.png");
}
main #main #container #mm4 {
  background-image: url("../img/icon/f3.png");
}
main #caixas {
  height: auto;
  flex-wrap: nowrap;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 8px;
  z-index: 0;
  position: relative;
  top: -200px;
}
main #caixas .bens {
  width: 400px;
  height: 400px;
  background-color: #007c15;
  color: rgb(255, 255, 255);
  opacity: 90%;
  transition: opacity 1s;
  font-family: "Chakra Petch", sans-serif;
  text-shadow: 1px 1px 1px rgb(5, 5, 5);
  font-size: 1.4em;
  padding: 16px;
}
main #caixas .bens p {
  text-align: center;
}
main #caixas .bens img {
  width: 56px;
}
main #caixas .bens h1 {
  font-family: "Abril Fatface", cursive;
}
main #caixas .bens:hover {
  opacity: 100%;
  box-shadow: -1px 1px 11px 0px rgba(72, 71, 71, 0.4784313725);
}
main #caixas #ben3 {
  background-color: #007c15;
}
main #caixas #ben2 {
  background-color: #00550e;
}
main #caixas #ben1 {
  background-color: #01420c;
}

#servicos {
  height: 100vh;
  position: relative;
  top: -180px;
  font-size: x-large;
}
#servicos #cont-serv::-webkit-scrollbar {
  background-color: transparent;
}
#servicos #cont-serv::-webkit-scrollbar-thumb {
  background-color: #47734E;
  border-radius: 16px;
  margin: 5px;
}
#servicos #cont-serv {
  margin: 0 56px;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
#servicos #cont-serv aside {
  transition: box-shadow 0.5s;
  display: grid;
  justify-content: center;
  margin: 32px;
  width: 200px;
  height: 200px;
  border-radius: 0 16px;
  position: relative;
}
#servicos #cont-serv aside img {
  justify-self: center;
}
#servicos #cont-serv aside p {
  transform: translateY(64%);
  background-color: #afafaf;
  text-align: center;
  vertical-align: bottom;
  align-self: center;
  padding: 8px;
  border: 1px solid green;
}
#servicos aside:hover {
  box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.507);
}

#sobre_nos {
  display: grid;
  box-shadow: -1px 1px 11px 0px rgba(72, 71, 71, 0.4784313725);
  grid-template-columns: 50% 50%;
  background-color: rgb(240, 240, 240);
  line-height: 2em;
  text-indent: 20px;
}
#sobre_nos h1 {
  font-size: xx-large;
  text-align: left;
  padding: 8px;
}
#sobre_nos #text_about {
  padding: 8px;
  margin: 0 8px 56px 56px;
}

#instituto {
  display: grid;
  padding-top: 10vh;
  height: 210vh;
  justify-content: center;
}
#instituto #photos {
  justify-self: center;
  width: 90vw;
  position: relative;
}
#instituto button {
  position: absolute;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.534);
  font-weight: bolder;
  font-size: larger;
  top: 50%;
  border-radius: 50%;
}
#instituto button:active {
  background-color: #007c15;
  color: white;
}
#instituto #frente {
  right: 0;
}
#instituto img {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: width 2s, opacity 1s;
}
#instituto #first_img {
  width: 100%;
}
#instituto #localidade {
  justify-self: center;
  width: auto;
  margin-left: 16px;
  height: auto;
}
#instituto h1 {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 16px;
  color: black;
}

#corpo_clinico {
  margin-top: 10vh;
  padding: 56px;
  display: grid;
  width: 100vw;
}
#corpo_clinico #funcionarios {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
}
#corpo_clinico #funcionarios .medico {
  display: grid;
  width: 200px;
  margin: 56px;
  text-align: center;
  padding: 8px;
  transition: background-color 1s;
  border-radius: 8px 16px;
}
#corpo_clinico #funcionarios .medico img {
  background-color: grey;
  justify-self: center;
  height: 100px;
  padding: 16px;
  border-radius: 50%;
}
#corpo_clinico #funcionarios .medico h1 {
  color: #47734E;
}
#corpo_clinico #funcionarios .medico .nome_medico {
  color: black;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: medium;
}
#corpo_clinico #funcionarios .medico:hover {
  background-color: #96F2A6;
  box-shadow: -1px 1px 11px 0px rgba(72, 71, 71, 0.4784313725);
}

#noticia {
  background-image: url("../img/m01.jpg");
  background-size: cover;
  background-position: 100% 30%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 80vh;
  font-size: large;
  position: relative;
}
#noticia #color_noticia {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 255, 212, 0.649);
  text-shadow: 1px 1px 1px white;
}
#noticia #color_noticia time {
  color: #257332;
  font-size: smaller;
}
#noticia #color_noticia #scroll_noticias {
  display: grid;
  justify-items: center;
  height: inherit;
  grid-template-columns: 50% 50%;
}
#noticia #color_noticia #scroll_noticias .artigo:hover {
  box-shadow: -1px 1px 11px 0px rgba(72, 71, 71, 0.4784313725);
}
#noticia #color_noticia #scroll_noticias h1 {
  text-align: left;
}
#noticia #color_noticia #scroll_noticias .artigo {
  background-color: #f0f0f0;
  padding: 8px;
}
#noticia #color_noticia #scroll_noticias .artigo .img_noticia {
  margin: 16px;
  border-radius: 4px;
}
#noticia #color_noticia #scroll_noticias #n_recente::-webkit-scrollbar {
  background-color: transparent;
}
#noticia #color_noticia #scroll_noticias #n_recente::-webkit-scrollbar-thumb {
  background-color: #47734E;
  border-radius: 16px;
  margin: 5px;
}
#noticia #color_noticia #scroll_noticias #n_recente {
  padding-top: 24px;
  display: grid;
  justify-items: flex-start;
  align-items: start-end;
  overflow-y: auto;
  height: 90%;
}
#noticia #color_noticia #scroll_noticias #n_recente #ver_mais_noticias {
  text-align: end;
  color: #47734E;
  font-weight: bolder;
  font-size: large;
}
#noticia #color_noticia #scroll_noticias #n_recente .artigo {
  display: flex;
  justify-content: center;
  width: 45vw;
  height: 130px;
  margin: 16px 0;
}
#noticia #color_noticia #scroll_noticias #n_recente .artigo .img_noticia {
  background-color: #afafaf;
  width: 50%;
  height: 10px;
  background-image: url("../img/arquvo2.png");
  background-repeat: no-repeat;
}
#noticia #color_noticia #scroll_noticias #n_enfase {
  padding: 24px;
  height: auto;
}
#noticia #color_noticia #scroll_noticias #n_enfase h1 {
  font-size: x-large;
}
#noticia #color_noticia #scroll_noticias #n_enfase .artigo {
  display: grid;
  justify-content: center;
  align-content: flex-start;
  width: 75%;
  height: 480px;
  margin: 16px;
  padding: 2px;
  border-radius: 1px;
}
#noticia #color_noticia #scroll_noticias #n_enfase .artigo .img_noticia {
  justify-self: center;
  background-color: #afafaf;
  width: 100%;
  height: 250px;
  background-image: url("../img/m7.jpg");
  background-size: cover;
}
#noticia #color_noticia #scroll_noticias #n_enfase .artigo .texto_enfase {
  justify-self: center;
  width: 90%;
  align-self: center;
  padding: 16px;
}

footer {
  height: auto;
  background-color: #257332;
  display: grid;
  color: white;
  text-shadow: 1px 1px 1px black;
  justify-content: center;
}
footer h1 {
  font-weight: lighter;
  font-size: x-large;
  text-align: left;
}
footer p {
  text-indent: 8px;
}
footer #top_footer {
  justify-self: center;
  display: grid;
  width: 90vw;
  padding: 0 56px;
  grid-template-columns: 250px 300px 250px auto;
}
footer #top_footer ul {
  display: grid;
  align-items: flex-start;
}
footer #top_footer ul h1 {
  display: inline;
}
footer #top_footer ul img {
  width: 32px;
}
footer #top_footer li {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: large;
}
footer #top_footer #siga {
  display: grid;
  height: 100px;
}
footer #top_footer aside {
  justify-content: center;
  margin: 56px;
  display: grid;
}
footer #top_footer #logo {
  justify-self: flex-end;
  margin: 56px 56px 0 0;
  min-width: 300px;
}
footer #bottom_footer {
  background-color: #47734E;
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: inset 3px 5px 7px 0px rgba(0, 0, 0, 0.466);
  width: 90vw;
  justify-self: center;
}
footer a {
  color: #ffffff;
  font-size: normal;
  font-family: "Chakra Petch", sans-serif;
  margin: 8px;
  text-decoration: none;
}
footer li {
  list-style-type: none;
  padding: 4px;
}

iframe {
  width: 100vh;
}

@media screen and (max-width: 1150px) {
  .bye {
    display: none;
  }
  .mostra {
    display: flex;
    height: auto;
    justify-content: center;
    /* The container <div> - needed to position the dropdown content */
    /* Dropdown Content (Hidden by Default) */
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  }
  .mostra .dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 24px;
    height: 24px;
    margin-right: 48px;
    background-image: url(../img/menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }
  .mostra .dropdown {
    position: relative;
    display: inline-block;
  }
  .mostra .dropdown-content {
    display: block;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 0;
    right: 0;
    background-color: #96F2A6;
    height: 100vh;
    max-width: 300px;
    justify-content: center;
    padding: 26px;
    align-items: flex-start;
    border-radius: 4px;
    width: 0;
    z-index: 1;
    transition: width 2s, opacity 2s;
  }
  .mostra .dropdown-content div {
    display: grid;
  }
  .mostra .dropdown-content h1 {
    background-color: #007c15;
    width: 100%;
    border-radius: 16px;
    color: white;
  }
  .mostra .dropdown-content a {
    padding: 2px;
    margin: 4px;
  }
  .mostra .show {
    visibility: visible;
    opacity: 100%;
    width: 70%;
  }
  main #main #container {
    font-size: 1.6em;
    padding-left: 16px;
    width: 100vw;
  }
  main #main #container section[id|=text-main] {
    width: 90%;
  }
  main #main #container section[id|=text-main] h1 {
    text-align: start;
  }
  main #caixas {
    width: 96vw;
  }
  main #caixas .bens {
    font-size: 1.2em;
  }
  #servicos #cont-serv {
    margin: 0;
    width: 100vw;
  }
  #servicos #cont-serv aside {
    width: 150px;
    height: 150px;
  }
  #sobre_nos {
    grid-template-columns: 90vw;
  }
  #sobre_nos img {
    height: 40vh;
    width: 100vw;
  }
  #noticia {
    height: 100vh;
  }
  #noticia #color_noticia #scroll_noticias {
    grid-template-columns: 90vw;
    justify-items: center;
  }
  #noticia #color_noticia #scroll_noticias #n_enfase {
    display: grid;
  }
  #noticia #color_noticia #scroll_noticias #n_enfase .artigo {
    justify-self: center;
  }
  #noticia #color_noticia #scroll_noticias #n_recente {
    width: 90vw;
  }
  #noticia #color_noticia #scroll_noticias #n_recente #ver_mais_noticias {
    text-align: center;
    font-size: larger;
    width: 90vw;
  }
  #noticia #color_noticia #scroll_noticias #n_recente #ver_mais_noticias:hover {
    text-shadow: 1px 1px 1px black;
    color: white;
  }
  #noticia #color_noticia #scroll_noticias #n_recente .artigo {
    width: auto;
    margin-left: 16px;
  }
  footer {
    width: 100vw;
    padding: 0;
  }
  footer #top_footer {
    grid-template-columns: auto 50%;
    justify-content: space-between;
  }
  footer #top_footer #logo {
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 666px) and (min-width: 90px) {
  header img {
    width: 30%;
  }
  main #main {
    height: 97vh;
    font-size: x-small;
    align-items: flex-start;
    padding-top: 40%;
  }
  main #main #container #nav-main button {
    width: 35px;
    height: 35px;
    background-size: 100%;
  }
  main #caixas {
    font-size: 0.7em;
    display: grid;
    grid-template-columns: 100vw;
    justify-items: center;
    padding: 4px;
  }
  main #caixas .bens {
    width: 97%;
    opacity: 100%;
    height: 200px;
  }
  main #caixas .bens img {
    width: 24px;
  }
  #servicos #cont-serv {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  #servicos #cont-serv aside {
    width: 96px;
    margin: 2px;
    height: 96px;
  }
  #servicos #cont-serv aside img {
    width: 50%;
  }
  #servicos #cont-serv aside p {
    transform: translateY(0);
    font-size: small;
  }
  #sobre_nos {
    line-height: 1.5em;
  }
  #sobre_nos h1 {
    width: 90vh;
    font-size: 1.4em;
    text-indent: 0;
  }
  #sobre_nos #text_about {
    font-size: 1em;
    margin-left: 8px;
  }
}/*# sourceMappingURL=style.css.map */